{% extends "base.html"%}
{%block content%}
{%if userInfo%}
<!--头像-->
{%include "baseHeadImg.html" ignore missing%}
<div class="panel-body" >

    <div class="text-center">
        <table class="table table-bordered">
            <tr>
                <td style="width: 15%">序号</td><td style="width: 25%">菜单名称</td><td style="width: 25%">菜单URL</td><td style="width: 20%">启用</td><td style="width: 35%">操作</td>
            </tr>
            {%for menuItem in sysMenuAll%}
            <tr id="menu_{{menuItem.id}}">
                <td >{{menuItem.id}}</td><td >{{menuItem.menuName}}</td><td >{{menuItem.menuUrl}}</td><td id="menu_{{menuItem.id}}_Disabel">{%if menuItem.menuDisable %}
                启用
                {%else%}
                禁用
                {%endif%}</td><td><a href="#" onclick="Update_Menu({{menuItem.id}})">修改</a>|<a href="#" onclick="MenuDeleted({{menuItem.id}})">删除</a>|<a href="#" menuId="{{menuItem.id}}" menuState="{{menuItem.menuDisable}}" onclick="UpdateMenuState(this)">
                {%if menuItem.menuDisable %}
                禁用
                {%else%}
                启用
                {%endif%}
            </a></td>
            </tr>
            {%endfor%}
            <!--添加-->
            <tr id="menu_Add">
                <td>
                    <h5 id="new_menuId">
                        {{newMenuId}}
                    </h5>
                </td>
                <td>
                    <input type="text" id="menuName" name="menuName" class="form-control"placeholder="菜单名称"/>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon3">/</span>
                        <input type="text" id="menuUrl" name="menuUrl" class="form-control"placeholder="菜单URL"/>
                     </div>
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="menuEnable" value="1" name="menuEnable"/>启用
                        </label>
                    </div>
                </td>
                <td>
                    <button class="btn btn-group-sm btn-primary" onclick="SaveMenu(0)">保存</button>
                </td>
            </tr>
        </table>
    </div>
</div>
{%endif%}
{%endblock%}
{%block bottom%}
<script type="text/javascript">
    //添加保存按钮
    function SaveMenu(menuType){
        var menuName = $("#menuName").val();
        if (menuName.trim().length<=0){
           layer.open({content:'菜单名称不可为空',skin: 'footer'});
            return;
        }
        var menuUrl = $("#menuUrl").val();
        if (menuUrl.trim().length<=0){
            layer.open({content:'菜单URL不可为空',skin: 'footer'});
            return;
        }
        debugger;
        var menuEnable = 0;
        if(document.getElementById("menuEnable").checked == true){
            menuEnable = $("#menuEnable").val();
        }
        var data  ={menuName:menuName,menuUrl:menuUrl,menuEnable:menuEnable,menuType:menuType};
        $.post("/SystemMenuAdd",data,function (result) {
            if (result == "1"){
                layer.open({content:'菜单名称不可为空',skin: 'footer'});
            }
            else if (result == "2"){
                layer.open({content:'菜单URL不可为空',skin: 'footer'});
            }
            else if (result == "0"){
                if (menuType<=0){
                    window.location = '/SystemMenu';
                }
                else{
                    var tdHtml = "<td >"+menuType+"</td><td >"+menuName+"</td><td >"+menuUrl+"</td><td >"+(menuEnable=="0"?"禁用":"启用")+"</td><td ><a href=\"#\" onclick=\"Update_Menu("+menuType+")\">修改</a>|<a href=\"#\">删除</a>|<a href=\"#\">"+(menuEnable=='1'?'禁用':'启用')+"</a></td>";
                     $("#menu_" + menuType).html(tdHtml);
                     $("#menu_Add").attr("style", "");
                }
            }
            else{
                layer.open({content:result,skin: 'footer'});
            }
        })
    };
    //修改菜单栏
    var tmpHtml=""; //临时变量,用来记tr里的td标签,如果点击取消修改则需要返回之前的数据
    function Update_Menu(oid) {
        $("#menu_Add").attr("style", "display:none");
        var tdHtml = $("#menu_" + oid).html();
        tmpHtml = tdHtml;
        reg = new RegExp('<td>', 'ig');
        tdHtml = tdHtml.replace(reg, '');
        reg = new RegExp('</td>', 'ig');
        tdHtml = tdHtml.replace(reg, '|');
        var itemSplit = tdHtml.split('|');
        var html = "<td><h4>" + itemSplit[0].trim() + "</h4></td><td><input type='text' id='menuName' value='" + itemSplit[1].trim() + "' name='menuName' class='form-control' placeholder='菜单名称'/><" +
            "/td><td><div class=\"input-group\"><span class=\"input-group-addon\" id=\"sizing-addon3\">/</span><input type='text' id='menuUrl' value='" + itemSplit[2].trim() + "' name='menuUrl' class='form-control' placeholder='菜单URL' aria-describedby=\"sizing-addon3\"/></div></td><td><div class='checkbox'><label>" +
            "<input type='checkbox' id='menuEnable' value='1'  name='menuEnable'/>启用</label></div></td><td><a href='#' class='' onclick='updateMenuSave(" + oid + ")' >保存</a>|<a href='#' class='' onclick='cancelUpdate(" + oid + ")' >取消</a>" +
            "</td>";
        $("#menu_" + oid).html(html);
        if (itemSplit[3].trim().concat("启用")) {
            $("#menuEnable").attr("checked", "checked");
        }
        else {
           $("#menuEnable").attr("checked", false);
        }
    };
    //取消修改
    function cancelUpdate(oid) {
        $("#menu_" + oid).html(tmpHtml);
        $("#menu_Add").attr("style", "");
    };
    //修改保存
    function updateMenuSave(oid){
        SaveMenu(oid);
    };
    //修改菜单状态
    function UpdateMenuState(obj){
        var id = $(obj).attr("menuId");
        var state = $(obj).attr("menuState");
        $.post("/menuState",{id:id,state:state},function(result) {
            if (result == "-1") {
                layer.open({content:'修改失败,请稍后再试!',skin: 'footer'});
            }
            else if (result == "-2") {
                layer.open({content:'服务器错误,请联系管理员!',skin: 'footer'});
            }
            else if (result == "0") {

                if (state =='True'){
                    $(obj).html(' 启用');
                     $(obj).attr('menuState','False');
                     $("#menu_"+id+"_Disabel").html('禁用');
                }
                else{
                        $(obj).html(' 禁用');
                       $(obj).attr('menuState','True');
                       $("#menu_"+id+"_Disabel").html('启用');
                };
                layer.open({content:'修改成功',skin: 'footer'});
            }
            else {
                 layer.msg(result, {icon: 5});
            }
        });
    };

    //删除菜单
    function MenuDeleted(oid) {
        $.post('/menuDelete',{id:oid},function (result) {
            if (result == "-1"){
                  layer.open({content:'删除失败,请稍后再试!',skin: 'footer'});
            }
            else if (result=="0"){
                 $("#menu_"+oid).remove()
                 $("#new_menuId").html(oid);
                 layer.open({content:'删除成功',skin: 'footer'});
            }
            else{
                 layer.msg(result, {icon: 5});
            }
        })
    }
</script>
{%endblock%}