{% extends "base.html"%}
{%block content%}
{%if userInfo%}
    <!--头像-->
    {%include "baseHeadImg.html" ignore missing%}
     <div class="panel-body row" style="min-width:500px">
          <!--左侧导航-->
        <div class="col-sm-3 " >
            {% include "baseLeftMenu.html" ignore missing%}
        </div>
         <div class="col-sm-7"  style="float:left;margin-left: 10px">
             <table class="table table-striped">
                 <tr>
                     <td >序号</td><td >菜单名称</td><td >菜单URL</td><td>是否启用</td><td>操作</td>
                 </tr>
                    <tr>
                        <td>
                            <h4>
                                {{newMenuId}}
                            </h4>
                        </td>
                        <td>
                            <input type="text" id="menuName" name="menuName" class="form-control"placeholder="菜单名称"/>
                        </td>
                        <td>
                            <input type="text" id="menuUrl" name="menuUrl" class="form-control"placeholder="菜单URL"/>
                        </td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="menuEnable" value="1" name="menuEnable"/>启用
                                </label>
                            </div>
                        </td>
                         <td>
                            <button class="btn btn-group-sm btn-primary" id="saveMenu">保存</button>
                        </td>
                    </tr>
             </table>
         </div>
     </div>
{%endif%}
{%endblock%}
{%block bottom%}
<script type="text/javascript">
    $('#saveMenu').on('click', function(){
        var menuName = $("#menuName").val();
        if (menuName.trim().length<=0){
            layer.msg('菜单名称不可为空', {icon: 5});
            return;
        }
        var menuUrl = $("#menuUrl").val();
        if (menuUrl.trim().length<=0){
            layer.msg('菜单URL不可为空', {icon: 5});
            return;
        }
        var menuEnable = 0;
        if(document.getElementById("menuEnable").checked == true){
            menuEnable = $("#menuEnable").val();
        }
        var data  ={menuName:menuName,menuUrl:menuUrl,menuEnable:menuEnable};
        $.post("/SystemMenuAdd",data,function (result) {
            alert(result)
        })
    });
</script>
{%endblock%}