 <ul class="nav nav-pills nav-stacked">
                <li class="presentation" >
                  <a href="/userInfo" id="userInfo" >
                    基础信息
                  </a>
                </li>
                <li class="presentation" >
                    <a href="/LoginRecord/1" id="LoginRecord"  >登录记录</a>
                </li>
                <li class="presentation">
                    <a href="#" >用户管理</a>
                </li>
                <li class="presentation">
                    <a href="/SystemMenu" id="SystemMenu" >菜单管理</a>
                </li>
            </ul>