{% extends "base.html"%}
{%block content%}
{%if userInfo%}
    <!--头像-->
    {%include "baseHeadImg.html" ignore missing%}
    <div class="panel-body row" style="min-width:500px">
        <!--左侧导航-->
        <div class="col-xs-4 " >
            {% include "baseLeftMenu.html" ignore missing%}
        </div>

        <div  class="col-xs-7"  style="float:left;margin-left: 10px">
           <table class="table table-striped">
            <tr>
               <td class="row">
                <div class="col-xs-4 text-right">
                    昵称：
                </div>
                <div class="col-xs-8 text-left">
                    {{userInfo.userName}} &nbsp;<button type="button" id="updateNickName" class="btn btn-primary btn-xs">修改</button>
                </div>
               </td>
            </tr>
            <tr>
              <td class="row">
                <div class="col-xs-4 text-right">
                    邮箱：
                </div>
                <div class="col-xs-8 text-left">
                    {{userInfo.userEmail}}&nbsp;
                    {%if userInfo.validationEmail == 0%}
                    <button type="button" id="checkedEmail" class="btn btn-warning btn-xs">未验证</button>
                    {%else%}
                    <label class="label label-success btn-xs">已验证</label>
                    {%endif%}
                    &nbsp;<button type="button" id="updateEmail"  class="btn btn-primary btn-xs">修改</button>
                </div>
               </td>
            </tr>
            <tr>
              <td class="row">
                <div class="col-xs-4 text-right">
                    登录：
                </div>
                <div class="col-xs-8 text-left">
                    {{userInfo.loginCount}} 次
                </div>
               </td>
            </tr>
            <tr>
              <td class="row">
                <div class="col-xs-4 text-right">
                    密码：
                </div>
                <div class="col-xs-8 text-left ">
                   密码已设置&nbsp;<button type="button" id="updatePassword" class="btn btn-primary btn-xs">修改</button>
                </div>
               </td>
            </tr>
           </table>
        </div>
    </div>
{%endif%}
{%endblock%}
{%block bottom%}
<script type="text/javascript">
//修改昵称
$('#updateNickName').on('click', function(){
  layer.open({
  btn:['修改'],
  content: '\<div><div class="panel-body form-inline"><input type="text" maxlength="16" id="newNickName" name="newNickName" placeholder="新昵称" class="form-control"/></div></div>',
  yes:function (index) {
      var newNickName = $("#newNickName").val();
      if (newNickName.trim().length > 0) {
          $.post('/updateNickName',{newNickName:newNickName},function(data) {
              if (data == 0) {
                  ShowMess('修改失败,请稍后再试');
              }
              else {
               layer.closeAll();
                ShowMess('修改成功,请刷刷新页面');
              }
          })
      }
      else{
          ShowMess('新昵称不可为空');
      }
  }
  });
});
//验证邮箱
$('#checkedEmail').on('click', function(){
  layer.open({
  btn:['验证'],
  content: '<div ><div class="panel-body">' +
           '<input type="hidden" id="odEmail" value="{{userInfo.userEmail}}"><input type="text" id="txtYzm" placeholder="验证码" class="form-control"/>&nbsp;&nbsp;<button type="button" class="btn btn-primary" id="sendYzm" onclick="sendYZM(0)" >发送验证码</button>'+
           '</div></div>',
      yes:function (index) {
          CheckedEmail(0)
      }
  });
});
//发送验证码
var sendMin = 60;//60秒发送一次
function  sendYZM(oid) {
    var data ={typ:oid};
    if (oid == 1) {
        var newEmail = $("#newEmail").val();
        if (newEmail.trim().length <= 0) {
            ShowMess('新邮箱不可为空');
            return;
        }
        ;
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if (!myreg.test(newEmail)) {
            ShowMess('请输入有效的邮箱');
            return;
        }
        var oldEmail = $("#oldEmail").val();
        if (oldEmail == newEmail.trim()) {
             ShowMess('新旧邮箱一样,无需失修');
            return;
        }
       data = {typ:oid,email:newEmail};
    };
    $("#newEmail").attr("disabled","disabled");
    $("#sendYzm").text("正在发送..").attr("disabled","disabled");
    $.post("/sendEmail",data,function (result) {
        if (result =="1"){
            $("#sendYzm").text("已发送("+sendMin+")").attr("disabled","disabled");
            var inteId = window.setInterval(function () {
                sendMin = sendMin -1;
                $("#sendYzm").text("已发送("+sendMin+")");
                if (sendMin == 0){
                    $("#sendYzm").text("发送验证码").attr("disabled",false);
                    window.clearInterval(inteId)
                    sendMin = 60;
                };
            },1000);
        }
        else{
            ShowMess('发送失败,请稍后再试');
        };

    });
};
//验证输入的验证码是否正确
function  CheckedEmail(otp) {
    var email = "None";
    if (otp == 1) {
        email = $("#newEmail").val()
        if (email.trim().length<=0){
             ShowMess('新邮箱不可为空');
        }
    }
    else{
         email = $("#odEmail").val()
    }

    var txtYzm = $("#txtYzm").val();
    if (txtYzm.trim().length<=0){
       ShowMess('验证码不可为空,请输入');
        return;
    }
    $.get("/checkedEmail/"+txtYzm+"/"+email,function (result ) {
        if(result == "1"){
            window.location = window.location;
        }
        else {
         ShowMess('验证失败,请稍后再试');
        }
        $("#newEmail").attr("disabled",false);
    })
};
//修改邮箱
$("#updateEmail").on('click', function(){
  layer.open({
      btn:['验证'],
      content: '<div class="panel-body">' +
               '<input type="hidden" id="oldEmail" value="{{userInfo.userEmail}}" > <input type="email" id="newEmail" placeholder="新邮箱" class="form-control" name="newEmail" /> &nbsp;&nbsp;<button type="button" class="btn btn-primary" id="sendYzm" onclick="sendYZM(1)" >发送验证码</button> '+
               '<input type="text" id="txtYzm" placeholder="验证码" class="form-control" />'+
               '</div>',
      yes:function (index) {
          CheckedEmail(1)
      }
  });
});

//修改密码
$("#updatePassword").on('click',function () {
        layer.open({
  type: 1,
  title:' ',
  area: ['400px', '240px'],
  shadeClose: true, //点击遮罩关闭
  content: '<div style="padding:20px;"><div class="form-horizontal">' +
           '<div class="form-group form-group-sm">'+
           '<label class="col-sm-4 text-right control-label">旧密码：</label><div class="col-sm-8 text-left"><input type="password" id="oldPass" name="oldPass" class="form-control"/></div>'+
           '</div><div class="form-group form-group-sm">'+
           '<label class="col-sm-4 text-right control-label">新密码：</label><div class="col-sm-8 text-left"><input type="password" id="newPass" name="newPass" class="form-control"/></div>'+
           '</div>'+
           '<div class="form-group form-group-sm">'+
           '<label class="col-sm-4 text-right control-label">确认新密码：</label><div class="col-sm-8 text-left"><input type="password" id="confNewPass" name="confNewPass" class="form-control"/></div>'+
           '</div>'+
           '<div class="col-sm-4 text-center">&nbsp;</div><div class="col-sm-8 text-left"><button type="button" onclick="UpdateEmail()" class="btn btn-block btn-success">修改</button></div>'+
           '</div></div>'
  });
});

//按确认修改密码
function UpdateEmail () {
        //旧密码
        var oldPass = $('#oldPass').val();
        //新密码
        var newPass = $('#newPass').val();
        //新密码
        var confNewPass = $('#confNewPass').val();
        if (oldPass.trim().length<=0){
            ShowMess('旧密码不可为空');
            return;
        };
        if (newPass.trim().length<=0){
            ShowMess('新密码不可为空');
            return;
        };
        if(confNewPass.trim().length<=0){
            ShowMess('确认新密码不可为空');
            return;
        };
        if (newPass.trim() !=confNewPass.trim()){
            ShowMess('两次新密码不一致,请重新输入');
            return;
        };
        var data ={oldPass:oldPass,newPass:newPass};
        $.post("/updatePass",data,function (result) {
            if (result =="0"){
                 ShowMess('旧密码不可为空');
                 return;
            }
             if (result =="-1"){
                ShowMess('新密码不可为空');
                 return;
            }
            if(result == "2"){
                 ShowMess('旧密码错误');
                 return;
            }
            else{
                layer.closeAll();
                ShowMess('修改成功,下次登陆使用新密码');
                 return;
            }
        })
    };

</script>
{%endblock%}