{% extends "base.html"%}
{%block content%}
{%if userInfo%}
<!--头像-->
{%include "baseHeadImg.html" ignore missing%}
<div class="panel-body" >
    <table class="table table-bordered">
        <tr >
            <td class="text-right" style="width: 20%">
                昵称：
            </td>
            <td class="text-left" style="width: 85%">
                {{userInfo.userName}} &nbsp;<button type="button" id="updateNickName" class="btn btn-primary btn-xs">修改</button>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                邮箱：
            </td>
            <td class="text-left">
                {{userInfo.userEmail}}&nbsp;
                {%if userInfo.validationEmail == 0%}
                <button type="button" id="checkedEmail" class="btn btn-warning btn-xs">未验证</button>
                {%else%}
                <label class="label label-success btn-xs">已验证</label>
                {%endif%}
                &nbsp;<button type="button" id="updateEmail"  class="btn btn-primary btn-xs">修改</button>
            </td>
        </tr>

        <tr>
            <td class="text-right">
                登录：
            </td>
            <td class="text-left">
                {{userInfo.loginCount}} 次
            </td>
        </tr>

        <tr>
            <td class="text-right">
                密码：
            </td><td class="text-left">
            密码已设置&nbsp;<button type="button" id="updatePassword" class="btn btn-primary btn-xs">修改</button>
        </td>
        </tr>
    </table>
</div>
</div>
{%endif%}
{%endblock%}
{%block bottom%}
<script type="text/javascript">
    //修改昵称
    $('#updateNickName').on('click', function(){
        layer.open({
            btn:['修改'],
            content: '\<div class="form-horizontal" style="width: 100%"><div id="ShowMess"></div><div class="form-group"><div class="col-xs-10" id="div_newNickName"><input type="text" maxlength="16" id="newNickName" onkeyup="SuccessMess(this,\'div_newNickName\')" name="newNickName" placeholder="新昵称" class="form-control"/></div></div></div>',
            yes:function (index) {
                var newNickName = $("#newNickName").val();
                if (newNickName.trim().length > 0) {
                    $.post('/updateNickName',{newNickName:newNickName},function(data) {
                        if (data == 0) {
                            ErrorShowMess('div_newNickName','修改失败,请稍后再试');
                        }
                        else {
                            LoadSuccessMess('修改成功,请刷刷新页面');
                        }
                    })
                }
                else{
                     ErrorShowMess('div_newNickName','新昵称不可为空');
                }
            }
        });
    });
    //验证邮箱
    $('#checkedEmail').on('click', function(){
        layer.open({
            btn:['验证'],
            content: '<div class="form-horizontal" style="width: 100%"><div id="ShowMess"></div><div class="form-group">' +
            '<div class="col-xs-9" id="div_txtYzm"><input type="hidden" id="odEmail" value="{{userInfo.userEmail}}"><input type="text" id="txtYzm" placeholder="验证码" onkeyup="SuccessMess(this,\'div_txtYzm\')" class="form-control"/></div><div class="col-xs-1"><button type="button" class="btn btn-primary" id="sendYzm" onclick="sendYZM(0)" >发送验证码</button></div>'+
            '</div></div>',
            yes:function (index) {
                CheckedEmail(0)
            }
        });
    });
    //发送验证码
    var sendMin = 60;//60秒发送一次
    function  sendYZM(oid) {
        var data ={typ:oid};
        if (oid == 1) {
            var newEmail = $("#newEmail").val();
            if (newEmail.trim().length <= 0) {
                div_newEmail('div_newEmail','新邮箱不可为空');
                return;
            }
            ;
            var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            if (!myreg.test(newEmail)) {
                ErrorShowMess('div_newEmail','请输入有效的邮箱');
                return;
            }
            var oldEmail = $("#oldEmail").val();
            if (oldEmail == newEmail.trim()) {
                ErrorShowMess('div_newEmail','新旧邮箱一样,无需失修');
                return;
            }
            data = {typ:oid,email:newEmail};
        };
        $("#newEmail").attr("disabled","disabled");
        $("#sendYzm").text("正在发送..").attr("disabled","disabled");
        $.post("/sendEmail",data,function (result) {
            if (result =="1"){
                $("#sendYzm").text("已发送("+sendMin+")").attr("disabled","disabled");
                var inteId = window.setInterval(function () {
                    sendMin = sendMin -1;
                    $("#sendYzm").text("已发送("+sendMin+")");
                    if (sendMin == 0){
                        $("#sendYzm").text("发送验证码").attr("disabled",false);
                        window.clearInterval(inteId)
                        sendMin = 60;
                    };
                },1000);
            }
            else{
                ErrorShowMess(' ','发送失败,请稍后再试');
            };

        });
    };
    //验证输入的验证码是否正确
    function  CheckedEmail(otp) {
        var email = "None";
        if (otp == 1) {
            email = $("#newEmail").val()
            if (email.trim().length<=0){
                ErrorShowMess('div_newEmail','新邮箱不可为空');
            }
        }
        else{
            email = $("#odEmail").val()
        }

        var txtYzm = $("#txtYzm").val();
        if (txtYzm.trim().length<=0){
            ErrorShowMess('div_txtYzm','验证码不可为空,请输入');
            return;
        }
        $.get("/checkedEmail/"+txtYzm+"/"+email,function (result ) {
            if(result == "1"){
                window.location = window.location;
            }
            else {
                ErrorShowMess('','验证失败,请稍后再试');
            }
            $("#newEmail").attr("disabled",false);
        })
    };
    //修改邮箱
    $("#updateEmail").on('click', function(){
        layer.open({
            btn:['验证'],
            content: '<div class="form-horizontal" style="width: 100%"><div id="ShowMess"></div><div class="form-group">' +
            '<div class="col-xs-9" id="div_newEmail"><input type="hidden" id="oldEmail" value="{{userInfo.userEmail}}" > <input type="email" id="newEmail" onkeyup="SuccessMess(this,\'div_newEmail\')" placeholder="新邮箱" class="form-control" name="newEmail" /></div><div class="col-xs-1"><button type="button" class="btn btn-primary" id="sendYzm" onclick="sendYZM(1)" >发送验证码</button></div> '+
             '</div><div class="form-group">'+
            '<div class="col-xs-9" id="div_txtYzm"><input type="text" id="txtYzm" placeholder="验证码" onkeyup="SuccessMess(this,\'div_txtYzm\')" class="form-control" /></div>'+
            '</div></div>',
            yes:function (index) {
                CheckedEmail(1)
            }
        });
    });

    //修改密码
    $("#updatePassword").on('click',function () {
        layer.open({
           btn:['修改'],
            content: '<div class="form-horizontal" style="width: 100%"><div id="ShowMess"></div><div class="form-group">' +
            '<div class="col-xs-10" id="div_oldPass"><input type="password" id="oldPass" name="oldPass" onkeyup="SuccessMess(this,\'div_oldPass\')" placeholder="旧密码" class="form-control"/></div></div><div class="form-group">'+
            '<div class="col-xs-10" id="div_newPass"><input type="password" id="newPass" name="newPass" onkeyup="SuccessMess(this,\'div_newPass\')" placeholder="新密码" class="form-control"/></div></div><div class="form-group">'+
            '<div class="col-xs-10" id="div_confNewPass"><input type="password" id="confNewPass" onkeyup="SuccessMess(this,\'div_confNewPass\')" name="confNewPass" placeholder="确认新密码" class="form-control"/></div></div>'+
            '</div>',
             yes:function (index) {
                UpdateEmail(1)
            }
        });
    });

    //按确认修改密码
    function UpdateEmail () {
        //旧密码
        var oldPass = $('#oldPass').val();
        //新密码
        var newPass = $('#newPass').val();
        //新密码
        var confNewPass = $('#confNewPass').val();
        if (oldPass.trim().length<=0){
            ErrorShowMess('div_oldPass','旧密码不可为空');
            return;
        };
        if (newPass.trim().length<=0){
            ErrorShowMess('div_newPass','新密码不可为空');
            return;
        };
        if(confNewPass.trim().length<=0){
            ErrorShowMess('div_confNewPass','确认新密码不可为空');
            return;
        };
        if (newPass.trim() !=confNewPass.trim()){
            ErrorShowMess('div_confNewPass','两次新密码不一致,请重新输入');
            return;
        };
        var data ={oldPass:oldPass,newPass:newPass,confNewPass:confNewPass};
        $.post("/updatePass",data,function (result) {
            if (result =="0"){
                ErrorShowMess('div_oldPass','旧密码不可为空');
                return;
            }
            if (result =="-1"){
               ErrorShowMess('div_newPass','新密码不可为空');
                return;
            }
            if(result == "2"){
                 ErrorShowMess('div_oldPass','旧密码错误');
                return;
            }
            if (result == "-2"){
                 ErrorShowMess('div_oldPass','新密码两次不一致'); //新密码两次不一致
            }

            else{
                LoadSuccessMess('修改成功,下次登陆使用新密码');
                return;
            }
        })
    };

</script>
{%endblock%}